<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>多列等高</title>
    <style>
        *{ margin:0; padding:0;}
        .g_wrap{ width:90%; overflow:hidden; margin:0 auto; color:#fff;}
        .g_wrap > div{ width:33%; float:left; padding-bottom:99999px; margin-bottom:-99999px;}
        .g_wrap .m_left{ background:red;}
        .g_wrap .m_center{ background:green;}
        .g_wrap .m_right{ background:blue;}
    </style>
</head>

<body>

<div class="g_wrap">
    <div class="m_left">ad老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊老卡机带来狂风巨浪爱的啊</div>

    <div class="m_center">ada</div>

    <div class="m_right">adfadad</div>
</div>

</body>
</html>
